<ActionBar title="Who we are">
    <GridLayout rows="40" columns="40 *">
      <Image row="0" col="0" src="~/images/icon.png" ></Image>
    </GridLayout>
  </ActionBar>
<ScrollView orientation="vertical">
<StackLayout style="background-color: #fff;">
    <Label style="color: black; font-weight: bold;"
        row="0"
        textAlignment="center"
        textTransform="uppercase"
        text="REAL PEOPLE DOING LIFE TOGETHER">
    </Label>
    <Label style="color: black; font-weight: bold;"
        row="1"
        textAlignment="center"
        textTransform="uppercase"
        text="OUR MANDATE">
    </Label>
    <Label style="color: black;"
        row="2"
        textWrap="true"
        textAlignment="center"
        text="Then Jesus came to them and said, “All authority in heaven and on earth has been given to me. Therefore go and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit, and teaching them to obey everything I have commanded you. And surely I am with you always, to the very end of the age.”

    -Matthew 28:18-20">
    </Label>
    <Label style="color: black; font-weight: bold;" row="3" textAlignment="center" textTransform="uppercase" text="OUR FOUNDING SCRIPTURE"></Label>
    <Label style="color: black;" row="4" textAlignment="center" text="The Fellowship of the Believers"></Label>
    <Label style="color: black;" row="5" textAlignment="center" text="They devoted themselves to the apostles’ teaching and to fellowship, to the breaking of bread and to prayer. Everyone was filled with awe at the many wonders and signs performed by the apostles. All the believers were together and had everything in common. They sold property and possessions to give to anyone who had need. Every day they continued to meet together in the temple courts. They broke bread in their homes and ate together with glad and sincere hearts, praising God and enjoying the favor of all the people. And the Lord added to their number daily those who were being saved.
    -Acts 2:42-47"></Label>
    <Image style="color: black;" row="6" src="~/images/about.png"></Image>
    <Label style="color: black; font-weight: bold;" row="7" textAlignment="center" textTransform="uppercase" text="OUR LEAD/VISIONARY ELDERS"></Label>
    <Label style="color: black;" row="8" textAlignment="center" textWrap="true" text="Meet Dan and Chantelle Barnard, they have 3 kids, Nadine, Amy and Josh. Dan and Chantelle are based in the North Coast of Kwa-Zulu Natal, South Africa.

    Dan has been in the business-world all his life, as Director and CEO of large corporate companies in South Africa. Dan had a radical encounter with Jesus that changed his life completely.

    Chantelle has been his helper and support since their marriage in February 1997.

    ​

    In 2014, God called Dan and Chantelle into full-time ministry and in November 2015 they took over their first church in Swakopmund, Namibia. In August 2016, they were prayed onto the NCMI Team led by Tyrone Daniels.

    In March 2017, God called them to lead another church in Stanger, KZN, South Africa.

    ​

    Dan and Chantelle currently lead both churches Destiny Life Church Swakopmund and Destiny Life Church Stanger.

    Leading both churches are made easier with the help of a team of Elders and with the help of technology they are able to Live-stream to Swakopmund during Sunday morning Services.">
    </Label>
    <Label style="color: black; font-weight: bold;" row="9" textAlignment="center" textTransform="uppercase" text="WHAT WE BELIEVE"></Label>
    <Label style="color: black;" row="10" textAlignment="center" text="As a Church, We Believe in:"></Label>
    <Label style="color: black;" row="11"  textWrap="true" text="1. The Scriptures of the Old and New Testament in their original form as fully inspired by God, and accepts them as the final authority for faith and life."></Label>
    <Label style="color: black;" row="12"  textWrap="true" text="2. In one God eternally existing in three persons – Father, Son and Holy Spirit."></Label>
    <Label style="color: black;" row="13"  textWrap="true" text="3. That the Lord Jesus Christ was begotten by the Holy Spirit, born of the Virgin Mary, and is true God and true Man."></Label>
    <Label style="color: black;" row="14"  textWrap="true" text="4. That God created man in His own image; that man sinned and thereby incurred the penalty of death; physical and spiritual; and that all human beings inherit a sinful nature which issues in actual transgression involving personal guilt."></Label>
    <Label style="color: black;" row="15"  textWrap="true" text="5. That Scripture allows, with regards to sexual behaviour, only heterosexual relationships between a natural man and natural women and only in the confines of lawful matrimony. (Hebrews 13:4; Ephesians 5:22-23; Romans 1:24-27)"></Label>
    <Label style="color: black;" row="16"  textWrap="true" text="6. That the Lord Jesus Christ died for our sins, a substitutionary sacrifice, according to the Scriptures, and that all who believe and trust in Him are justified on the grounds of His shed blood."></Label>
    <Label style="color: black;" row="17"  textWrap="true" text="7. In the bodily resurrection of the Lord Jesus Christ, His ascension into heaven, and His present life as our High Priest and Advocate."></Label>
    <Label style="color: black;" row="18"  textWrap="true" text="8. In the personal return of the Lord Jesus Christ."></Label>
    <Label style="color: black;" row="19"  textWrap="true" text="9. In the personality of the Holy Spirit, His regenerating work, and His abiding presence in the true believer. That the Holy Spirit indwells all true believers and that He has been sent to be the Comforter and Helper of the Christian Church, to produce the fruit of the Holy Spirit and exercise the gifts of the Holy Spirit according to the Scriptures."></Label>
    <Label style="color: black;" row="20"  textWrap="true" text="10. All who repent of their sins and receive the Lord Jesus Christ by faith are born again of the Holy Spirit and therefore become children of God."></Label>
    <Label style="color: black;" row="21"  textWrap="true" text="11. That all Christians are called to a life of holiness, devotion to the Lord Jesus Christ and service to Him."></Label>
    <Label style="color: black;" row="22"  textWrap="true" text="12. In the resurrection, both just and unjust, the eternal blessedness of the redeemed, and the eternal banishment from God of those who have rejected the offer of salvation."></Label>
    <Label style="color: black;" row="23"  textWrap="true" text="13. That the whole company of those who have accepted the Lord Jesus Christ as their Saviour, been redeemed by Him and regenerated by the Holy Spirit form the one true church, and that the local church on earth should take its character from this concept. Therefore, the new birth and personal confession of faith in Christ are essentials of Church Membership."></Label>
    <Label style="color: black;" row="24"  textWrap="true" text="14. In the Baptism of the Holy Spirit."></Label>
    <Label style="color: black;" row="25"  textWrap="true" text="15. In the Priesthood of all believers."></Label>
    <Label style="color: black;" row="26"  textWrap="true" text="16. That the Lord Jesus Christ appointed two ordinances – Baptism and the Lord’s Table – to be observed as acts of obedience and as a perpetual witness to the cardinal facts of the Christian faith; that Baptism is the immersion of the believer in water as a confession of identification with Christ in burial and resurrection, and that the Lord’s Table involves partaking of the bread and the cup as symbols of the Saviour’s broken body and shed blood, in remembrance of His sacrificial death till His return."></Label>
    <Label style="color: black;" row="27"  textWrap="true" text="17. That the healing of the sick is still available in our day. (Mark 16:16-18; Matthew 8:16-17; 1 Corinthians 12:9 and James 5:14-15)."></Label>
    <Label style="color: black;" row="28"  textWrap="true" text="18. That God never removed the gifts of the Holy Spirit from the Church, and that the Scriptural commands to “seek earnestly the best gifts” and to “forbid not to speak in tongues” are still applicable today. (1 Corinthians 12, 13 and 14…. Note 1 Cor. 14:1 and 39)  "></Label>
    <Label style="color: black;" row="29"  textWrap="true" text="19. That the ascended Christ has given various ministries or ministers to the Church in order to bring all believers to the place of Christian maturity in understanding of the truth, and the performance and function of the ministry. (Ephesians 4:11; Romans 12:4-8; and 1 Cor 12:10)"></Label>
    <Label style="color: black;" row="30"  textWrap="true" text="20. That the miracles recorded in the Bible were real miracles, and are possible in the present day. (John 14:12 and 1 Cor 12:10)"></Label>
    <Label style="color: black;" row="31"  textWrap="true" text="21. That all believers are called to fulfill the Great Commission (Matt 28:18-20)"></Label>
    <Label style="color: black;" row="32"  textWrap="true" text="22. That Christ is the Head of His body, The Church, and that in all things He has pre-eminence."></Label>
    <Label style="color: black;" row="33"  textWrap="true" text="23. That all believers are called to love God above all else and their neighbor's as themselves. In loving God, they are to enjoy, exalt and worship Him. (Matt 22:37-39)"></Label>
</StackLayout>
</ScrollView>
