<Page xmlns="http://www.nativescript.org/tns.xsd" xmlns:maps="nativescript-google-maps-sdk">
  <ActionBar title="Locations">
    <GridLayout rows="40" columns="40 *">
      <Image row="0" col="0" src="~/images/icon.png"></Image>
      <Label row="0" col="1" text="Locations"></Label>
    </GridLayout>
  </ActionBar>
  <ScrollView orientation="vertical">
    <StackLayout>
      <Image  src="~/images/stanger_location.png"></Image>
      <GridLayout
      columns="auto,auto,auto"
      rows="auto"
      style="background-color: #fff;">
      <GridLayout
        style="margin-left: 20px;"
        row="0"
        col="0"
        rows="auto,auto"
        columns="auto"
        width="100">
        <Image src="~/images/phone.png" ></Image>
        <Label row="1" col="0" style="font-size: 10px; color: black;" text="Tel: 067 150 3996"></Label>
      </GridLayout>
      <GridLayout
        style="margin-left: 10px;"
        row="0"
        col="1"
        rows="auto,auto"
        columns="auto"
        width="100">
        <Image  src="~/images/location.png"></Image>
        <Label
          style="font-size: 10px; color: black;"
          row="1"
          col="0"
          textWrap="true"
          text="3 GLEDHOW MILL ROAD,
STANGER EXT 23,
KWADUKUZA,
STANGER,
KWA-ZULU NATAL
4449"></Label>
      </GridLayout>
      <GridLayout
        style="margin-left: 10px; width: 400px;"
        row="0"
        col="2"
        rows="auto,auto"
        columns="auto"
        width="100">
        <Image src="~/images/envelope.png"></Image>
        <Label row="1" col="0"  style="font-size: 10px; color: black;" text="info@destinylife.co.za"></Label>
      </GridLayout>
    </GridLayout>
      <maps:mapView [zoom]="16" height="300"  [latitude]="-29.354363" [longitude]="31.292114" (mapReady)="onMapReady($event)" />

      <Image row="0" col="1" left="410" top="10" src="~/images/swakopmund_location.png"></Image>
      <GridLayout
        columns="auto,auto,auto"
        rows="auto"
        style="background-color: #fff;">
        <GridLayout
          style="margin-left: 20px;"
          row="0"
          col="0"
          rows="auto,auto"
          columns="auto"
          width="100">
          <Image src="~/images/phone.png" ></Image>
          <Label row="1" col="0" style="font-size: 10px; color: black;" text="Tel: 081 224 9597"></Label>
        </GridLayout>
        <GridLayout
          style="margin-left: 10px;"
          row="0"
          col="1"
          rows="auto,auto"
          columns="auto"
          width="100">
          <Image  src="~/images/location.png"></Image>
          <Label
            style="font-size: 10px; color: black;"
            row="1"
            col="0"
            textWrap="true"
            text="MAIN HALL,
NAMIB HIGH SCHOOL,
LUDERITZ STREET,
SWAKOPMUND,
NAMIBIA"></Label>
        </GridLayout>
        <GridLayout
          style="margin-left: 10px; width: 400px;"
          row="0"
          col="2"
          rows="auto,auto"
          columns="auto"
          width="100">
          <Image src="~/images/envelope.png"></Image>
          <Label row="1" col="0"  style="font-size: 10px; color: black;" text="info@destinylife.co.za"></Label>
        </GridLayout>
      </GridLayout>
      <maps:mapView [zoom]="16" height="300"  [latitude]="-22.6763716" [longitude]="14.5295199" (mapReady)="onMapReady($event)" />
    </StackLayout>
  </ScrollView>
</Page>
