<BottomNavigation>
    <TabStrip>
        <TabStripItem class="navigation__item">
            <Label text="Welcome"></Label>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Sermons"></Label>
        </TabStripItem>
        <!-- <TabStripItem class="navigation__item">
            <Label text="Browse"></Label>
            <Image src="font://&#xf1ea;" class="far t-36"></Image>
        </TabStripItem> -->
        <!-- <TabStripItem class="navigation__item">
            <Label text="Search"></Label>
            <Image src="font://&#xf002;" class="fas t-36"></Image>
        </TabStripItem> -->
        <TabStripItem class="navigation__item">
            <Label text="Locations"></Label>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Who we are"></Label>
        </TabStripItem>
    </TabStrip>
    <TabContentItem>
        <page-router-outlet name="welcomeTab"></page-router-outlet>
    </TabContentItem>
    <TabContentItem>
        <page-router-outlet name="homeTab"></page-router-outlet>
    </TabContentItem>

    <!-- <TabContentItem>
        <page-router-outlet name="browseTab"></page-router-outlet>
    </TabContentItem> -->

    <!-- <TabContentItem>
        <page-router-outlet name="searchTab"></page-router-outlet>
    </TabContentItem> -->
    <TabContentItem>
        <page-router-outlet name="mapTab"></page-router-outlet>
    </TabContentItem>
    <TabContentItem>
        <page-router-outlet name="aboutTab"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>
