<ActionBar title="Sermons">
    <GridLayout rows="40" columns="40 *">
        <Image row="0" col="0" src="~/images/icon.png"></Image>
    </GridLayout>
  </ActionBar>
<GridLayout style="background-color: #fff;">
    <ListView [items]="items">
        <ng-template let-item="item">
            <StackLayout>
                <Label
                    style="color: black;"
                    [nsRouterLink]="['../item', item.key]"
                    [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>

</GridLayout>
